# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled output
/dist/
/build/

# Ignore dependencies manifest files
npm-debug.log
yarn-error.log

# Ignore environment-specific files
.env
.env.local
.env.development
.env.production
